// 2017-05-07
// I have ported it from my Discourse plugin:
// https://github.com/discourse-pro/df-core-private/blob/fdf48f1f/assets/stylesheets/_generic.scss?ts=4
html.df-theme-cms {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: rgb(103, 96, 86);
	// Firefox пока не принимает во внимание это правило без префикса -moz-
	// https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size
	* {tab-size:4; -moz-tab-size:4;}
	code {
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-size: 14px;
	}
}