// 2017-05-07
// I have ported it from my Discourse plugin:
// https://github.com/discourse-pro/df-core-private/blob/fdf48f1f/assets/stylesheets/_generic.scss?ts=4
html.df-theme-cms {
	font-family: 'Open Sans', sans-serif; font-size: 16px; color: rgb(103, 96, 86);
	// 2017-05-09 http://stackoverflow.com/a/11092852
    margin: 0 auto; max-width: 1200px;
	// Firefox пока не принимает во внимание это правило без префикса -moz-
	// https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size
	* {tab-size:4; -moz-tab-size:4;}
	code {
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-size: 14px;
	}
	h1 {margin: 0.45em 0;}
	h2 {font-size: 1.5em; .anchorjs-link {margin-top: 0.4em;}}
	h3 .anchorjs-link {margin-top: 0.3em;}
	.anchorjs-link {background: url('i/anchor.svg') no-repeat; width: 1em; height: 1em; }
	nav > ul {
		list-style-type: none;
		display: block;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
		> li {
			display: block; float: left;
			// 2017-05-10 The primary logo in the top-left side of the pages.
			&.logo {
				margin-right: 2em;
				> a {
					background-repeat: no-repeat; background-position: left middle;
					display: block; height: 40px; width: 147px;
				}
			}
			// 2017-05-10 The top links.
			&:not(.logo) {
				margin-top: 0.45em;
				&:not(:last-child) {margin-right: 0.9em;}
			}
		}
	}
	table.settings {
		border-collapse: collapse;
		tr {
			border-spacing: 0;
			// 2017-05-11
			// I set a non-white backhtound only to the first column,
			// because the second column contains an image with white background.
			&:nth-child(2n) td:first-child {background-color: #f6f8fa;}
		}
		td {
			border: 1px solid #dfe2e5; padding: 6px 13px;
			&:first-child {font-weight: bold;}
		}
		ul {margin: 0.2em 0;}
	}
	ul {margin: 0;}
}