<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Magento\Framework\App\RouterList'>
		<arguments>
			<argument name='routerList' xsi:type='array'>
				<item name='dfe-portal' xsi:type='array'>
					<item name='class' xsi:type='string'>Dfe\Portal\Router</item>
					<item name='disable' xsi:type='boolean'>false</item>
<!--
2017-05-04
This router will be called just after the built-in \Magento\Framework\App\Router\Base router.
«The built-in frontend routers»: https://mage2.pro/t/3878
«How is the base router (Magento\Framework\App\Router\Base) implemented?» https://mage2.pro/t/3880
2017-12-31
"«Front controller reached 100 router match iterations» in Magento 2.2.2
because the base router ordering has been changed from 20 to 30":
https://github.com/mage2pro/portal/issues/1 -->
					<item name='sortOrder' xsi:type='string'>31</item>
				</item>
			</argument>
		</arguments>
	</type>
<!--
2017-05-07
The purpose of this plugin is to set the frontend home page router automatically,
without need to do it manually by the store's administrator.
-->
	<type name='Magento\Store\Model\PathConfig'>
		<plugin name='Dfe\Portal\Plugin\Store\Model\PathConfig' type='Dfe\Portal\Plugin\Store\Model\PathConfig'/>
	</type>
<!--
2017-05-06
The purpose of this plugin is to set our custom design theme as the default Magento theme,
without need to select our design theme manually by the store's administrator.
@see \Magento\Theme\Model\View\Design::getConfigurationDesignTheme()
«How are the default frontend («Luma») and backend design themes set?» https://mage2.pro/t/3897
-->
	<type name='Magento\Theme\Model\View\Design'>
		<plugin name='Dfe\Portal\Plugin\Theme\Model\View\Design' type='Dfe\Portal\Plugin\Theme\Model\View\Design'/>
	</type>
</config>