<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section
			id='df_portal'
            showInDefault='1' showInStore='1' showInWebsite='1'
            translate='label'
		>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<tab>_df</tab>
			<label>Portal</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Dfe_Portal::config</resource>
			<group
				id='general'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1615'
				translate='label'
			>
				<label>General</label>
				<dfExtension>Dfe_Portal</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://github.com/mage2pro/portal' target='_blank'>Web Portal</a>» extension?]]></comment>
				</field>
				<field
					id='moduleName'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='select'
				>
					<label>Content</label>
					<source_model>Dfe\Portal\Source\Content</source_model>
					<comment><![CDATA[The content for the current website.
<br/>It should have been previously installed as a separate Magento extension.
<br/>For now, only the «stripe.mage2.pro» content is available.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
			</group>
		</section>
	</system>
</config>